<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'>
  <title>Travel App</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap' rel='stylesheet'>
  <!-- <link rel='stylesheet' href='style.css'> -->
</head>

<body onload='Client.setDates()'>
  <div id='app'>
    <div class='holder headline'>
      Travel App
    </div>
    <!-- place search field -->
    <div class='holder place'>
      <label class= 'place-search' for='place-search-txt'>Enter city or other place here</label>
      <input type='text' class= 'place-search user-input' id='place-search-txt' placeholder='enter place here'>
    </div>
    <div class='holder place'>
      <!-- Place search button -->
      <button id='search-place-button' type='submit'> Search Places </button>
    </div>
    <!-- Place dropdown -->
    <div class='holder place'>
      <label for='place-dropdown'>Choose a place from the list</label>
      <select id='place-dropdown' class = 'user-input' name='place-dropdown'></select>
    </div>
    <div class='holder place'>
      <label for='departure'>Departure date:</label>
      <input type='date' id='departure' class='user-input'>
    </div>
    <div class='holder place'>
      <!-- Place search button -->
      <button id='get-travel-info' type='submit'> Get Travel Info </button>
    </div>
    <!-- <div class='holder entry'>
      <div class='title'>Most Recent Entry</div>
      <div id='entryHolder'>
        <div id='date'></div>
        <div id='temp'></div>
        <div id='content'></div>
      </div>
    </div> -->
  </div>
  <!-- <script src='app.js' type='text/javascript'></script> -->

</body>

</html>