<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'>
  <title>Travel App</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body onload='Client.setDates()'>
  <header class='holder'>
    <h1>Test Page</h1>
    <h2>This here's a test page</h2>
    <nav>
      <a href="index.html">Back to the 1st page</a>
    </nav>
  </header>
  <div id='app'>
    <div class='place-search-grid'>
      <div class='holder'>
        <label for='place-search-txt'>Enter city or place here</label>
        <input type='text' class='user-input' id='place-search-txt' placeholder='enter place here'>
      </div>
      <div class='holder'>
        <button id='search-place-button' type='submit'> Search Places </button>
      </div>
      <div class='holder'>
        <label for='place-dropdown'>Choose a place from the list</label>
        <select id='place-dropdown' class='user-input' name='place-dropdown'></select>
      </div>
      <div class='holder'>
        <label for='departure'>Departure date:</label>
        <input type='date' id='departure' class='user-input'>
      </div>
      <div class='holder'>
        <button id='get-travel-info' type='submit'> Get Travel Info </button>
      </div>
    </div>
    <div class='trips-grid' id='trip-grid-div'></div>
    <footer class='holder'>
      Eric Hiltz 2020
      -- Weather data supplied by <a href='https://weatherbit.io' target="_blank">Weatherbit</a>
      -- Picture data supplied by <a href='https://pixabay.com' target="_blank">Pixabay</a>
      -- Location data supplied by <a href='https://geonames.org' target="_blank">Geonames</a>
    </footer>
</body>

</html>