body {
    background: #fcfce2;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

// #app{
//     display: grid;
//     grid-auto-rows: minmax(150px, auto);
//     /* grid-template-columns:  */
//     height:100vh;
//     background: #f23557;
//     color: #f0d43a;
//     justify-content: center;
//     grid-gap: 1em;
//     font-size: 20px;
//     font-family: 'Oswald', sans-serif;
// }

.container {
    display: grid;
    height: 100%;
    grid-template-rows: 10px, 20px, 1fr, 0.5fr, 10px;
    grid-template-areas:
        "title"
        "search"
        "trips"
        "trips"
        "ft";
    grid-auto-rows: minmax(1fr, auto);
    gap: 10px;
    padding: 10px;
}

.holder{
    margin: auto;
    font-family: 'Oswald', sans-serif;
}

figcaption{
    font-size: 24px;
}

// @media (min-width:600px) {
//     .container {
//       grid-template-columns: repeat(8, 1fr);
//       grid-template-rows: 10px, repeat(10, 1fr);
//       grid-template-areas:
//         "hd hd hd hd hd hd hd hd"
//         "nav main main main main main main about"
//         "ft ft ft ft ft ft ft ft";
//     }
//   }

//Just one column across on small screens
.place-search-grid {
    display: grid;
    grid-area: search;
    grid-template-columns: 1fr;
    margin: 10px;
}

//3 columns for medium screens
@media (min-width: 600px) and (max-width:900px) {
    .place-search-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

//5 columns for large screens
@media (min-width:901px) {
    .place-search-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

//Just one column across on small screens
.trips-grid {
    display: grid;
    grid-area: trips;
    grid-template-columns: 1fr;
    text-align: center;
}

//2 columns for larger screens
@media (min-width: 600px) {
    .trips-grid {
        grid-template-columns: 1fr 1fr;
    }
}

//Grid for each trip
.trip-box{
    border: 2px solid black;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.411);
    background-color: white;
    margin: 5px;
}

.trip-pic-figure{
    max-height: 250px;
}

// //3 columns for medium screens
// @media (min-width:901px) {
//     .trips-grid {
//         grid-template-columns: 1fr 1fr;
//     }
// }


// /*Flex container for each trip*/
// .trip-flex {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     flex-flow: row wrap;
//     height: 320px;
//     border: 2px solid black;
//     box-shadow: 3px 3px rgba(128, 128, 128, 0.411);
//     margin: 5px;
//   }

//For trh trip pictures
.trip-pic {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: auto;
    object-fit: contain;
    //max-height: 200px;
    border: 1px solid black;
    margin: auto;
    align-self: center;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.411);
}

.travel-date{
    margin-top: 0px;
    text-align: center;
    align-content: center;
}

//For the current weather display
.current-weather {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

//For the forcast display
.forecast-weather {
    display: flex;
}





.title-container {
    grid-area: title;
}

.ft-container {
    grid-area: ft;
}


/*For big and medium screens*/

//   /*3 rows, nav on left small, small header and footer*/

//   @media (min-width:600px) {
//     .container {
//       grid-template-columns: repeat(8, 1fr);
//       grid-template-rows: 10px, repeat(10, 1fr);
//       grid-template-areas:
//         "title title title title title"
//         "nav main main main main main main about"
//         "ft ft ft ft ft ft ft ft";
//     }
//   }


.entry {
    background: rgba(59, 74, 107, .4);
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 18px;
    margin: 10px;
}

.user-input {
    display: block;
    height: 60px;
    width: 3fr;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin: 10px;
    padding: 5px;
}

.user-input:focus {
    background: #22da84;
    color: #817324;
}

button {
    width: 5em;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    align-content: center;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

select{
    width: 12em;
}

button:hover {
    cursor: pointer;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}